<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <header th:replace="fragments/adminHeader :: header"></header>

    <div class="main-wrapper my-4">
        <div class="container content pt-3 wow fadeInLeft">
            <div class="card">
                <div class="card-body">

                    <!--Table-->
                    <table class="table table-hover table-responsive-md table-fixed text-center">

                        <!--Table head-->
                        <thead>
                            <tr>                   
                                <th><span>Usuario</span> 
                                <a th:href="@{/admin/users(l=${selectedPageSize}, p=1, d=usuario, o=DESC, q=${search})}"><i class="fa fa-angle-up"></i></a>
                                <a th:href="@{/admin/users(l=${selectedPageSize}, p=1, d=usuario, o=ASC, q=${search})}"><i class="fa fa-angle-down"></i></a></th>
                                <th><span>Email</span> 
                                <a th:href="@{/admin/users(l=${selectedPageSize}, p=1, d=email, o=DESC, q=${search})}"><i class="fa fa-angle-up"></i></a>
                                <a th:href="@{/admin/users(l=${selectedPageSize}, p=1, d=email, o=ASC, q=${search})}"><i class="fa fa-angle-down"></i></a></th>
                                <th><span>Privilegios</span> 
                                <a th:href="@{/admin/users(l=${selectedPageSize}, p=1, d=admin, o=DESC, q=${search})}"><i class="fa fa-angle-up"></i></a>
                                <a th:href="@{/admin/users(l=${selectedPageSize}, p=1, d=admin, o=ASC, q=${search})}"><i class="fa fa-angle-down"></i></a></th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <!--Table head-->

                        <!--Table body-->
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.usuario}">Usuario</td>
                                <td th:text="${user.email}">Email</td>
                                <td><span th:if="${user.admin}"><i class="fa fa-check text-success"></i></span><span th:unless="${user.admin}"><i class="fa fa-times text-danger"></i></span></td>
                                <td>
                                	<a th:href="@{/admin/users/sendMail/{id}(id=${user.id})}" title="Enviar mensaje"><i class="fa fa-comments"></i></a>
                                    <a href="" th:href="@{/admin/services(q=${user.usuario})}" title="Planes" class="ml-3"><i class="fa fa-server"></i></a>
                                    <a href="" th:href="@{/admin/users/admin/{id}(id=${user.id})}" class="mx-3" title="Privilegios"><i class="fa fa-user-secret text-primary"></i></a>
                                    <a href="" th:href="@{/admin/users/delete/{id}(id=${user.id})}" title="Borrar"><i class="fa fa-user-times text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <!--Table body-->

                    </table>
                    <!--Table-->
                </div>
            </div>
            <div class="my-0 form-row">
            	<div class="ml-3 mr-auto form-group pt-4">
	            	<form role="search" method="GET" id="searchform" action="" th:action="@{/admin/users}">
						<label for="s">
					    	<i class="fa fa-search"></i>
						</label>
						<input name="q" type="text" th:value="${search}" placeholder="search" class="" id="s" />
					</form>
				</div>
                <div class="ml-auto mr-1 form-group pt-3">
                    <nav th:if="${users.totalPages != 1}" aria-label="pagination example">
                        <ul class="pagination ">
                            <!-- Inicio -->
                            <li th:class="${users.number == 0} ? disabled" class="page-item">
                                <a class="page-link" th:href="@{/admin/users(l=${selectedPageSize}, p=1, d=${dirAttribute}, o=${direction}, q=${search})}">First</a>
                            </li>
                            <!-- Atras -->
                            <li th:class="${users.number == 0} ? disabled" class="page-item">
                                <a class="page-link" aria-label="Previous" th:href="@{/admin/users(l=${selectedPageSize}, p=${users.number}, d=${dirAttribute}, o=${direction}, q=${search})}">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <!-- Numeros -->
                            <li th:class="${users.number == (page - 1)} ? 'active pointer-disabled'" th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}" class="page-item">
                                <a class="page-link" th:href="@{/admin/users(l=${selectedPageSize}, p=${page}, d=${dirAttribute}, o=${direction}, q=${search})}" th:text="${page}"></a>
                            </li>
                            <!-- Siguiente -->
                            <li class="page-item" th:class="${users.number + 1 == users.totalPages} ? disabled">
                                <a class="page-link" aria-label="Next" th:href="@{/admin/users(l=${selectedPageSize}, p=${users.number + 2}, d=${dirAttribute}, o=${direction}, q=${search})}">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <!-- Última -->
                            <li class="page-item" th:class="${users.number + 1 == users.totalPages} ? disabled">
                                <a class="page-link" th:href="@{/admin/users(l=${selectedPageSize}, p=${users.totalPages}, d=${dirAttribute}, o=${direction}, q=${search})}">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="mx-3 form-group pt-3">
                    <select class="form-control pagination" id="pageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                            th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragments/scripts :: script"></script>
    <script th:inline="javascript">
    $(document).ready(function() {
		changePageAndSize();
	});
	function changePageAndSize() {
		$('#pageSizeSelect').change(function() {
			/*<![CDATA[*/
		    var dirAttribute = /*[[${dirAttribute}]]*/ 'id';
		    var direction = /*[[${direction}]]*/ 'ASC';
		    var search = /*[[${search}]]*/ '';
		    window.location.replace("?l=" + this.value + "&p=1&d=" + dirAttribute + "&o=" + direction + "&q=" + search);
		/*]]>*/
		});
	}
	</script>
</body>

</html>