<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/dist/umd/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!-- MDB Bootstrap -->
<script type="text/javascript" th:src="@{~/js/mdb.min.js}"></script>

<!-- Infinite Scroll -->
<script type="text/javascript" th:src="@{/webjars/infinite-scroll/3.0.4/dist/infinite-scroll.pkgd.min.js}"></script>

<!-- AOS -->
<script type="text/javascript" th:src="@{/webjars/github-com-michalsnik-aos/2.1.1/aos.js}"></script>

<!-- Granim -->
<script type="text/javascript" th:src="@{~/js/granim.min.js}"></script>

<!-- Smoth Scroll -->
<script type="text/javascript" th:src="@{~/js/smoth-scroll.js}"></script>

<!-- Js adicional -->
<script type="text/javascript" th:src="@{~/js/script.js}" src="/js/mdb.min.js"></script>