<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <!-- Body -->
    <!-- Login -->
    <div id="login" class=" container-sm my-5 mx-auto row white px-5 py-5 rounded border border-primary">
        <p class="h3 mb-4 col-lg-12">Iniciar sesión</p>
        <div class="col-sm-6">
            <!-- Material form login -->
            <form action="#" th:action="@{/checkLogin}" th:object="${loginUser}" method="post">
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i> <input type="text" th:field="*{usuario}" id="loginUsuario" class="form-control" required> <label for="loginUsuario">Usuario</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i> <input type="password" th:field="*{pass}" id="LoginPass" class="form-control" required>
                    <label for="loginPass">Contraseña</label>
                </div>
                <div class="text-right mt-4">
                    <button class="btn btn-default" type="submit">Conectar</button>
                </div>
            </form>
        </div>
        <div class="col-sm-5 offset-1 text-center">
            <p class="h4 grey-text">¿Aun no tienes cuenta?</p>
            <button id="goReg" class="btn btn-sm w-100 btn-primary">Registrate
				aqui</button>
        </div>
    </div>
    <div id="registro" class="container-sm girado my-5 mx-auto row white px-5 py-5 rounded border border-primary">
        <p class="h3 mb-4 col-lg-12 text-right">Registrarse</p>
        <div class="col-sm-5 text-center">
            <p class="h4 grey-text">¿Ya tienes cuenta?</p>
            <button id="goLogin" class="btn btn-sm w-100 btn-primary">Ir
				a iniciar sesión</button>
        </div>
        <!-- Registro -->
        <div class="col-sm-6 offset-1">
            <!-- Material form register -->
            <form autocomplete="off" th:action="@{registro}" th:object="${cuenta}" method="post" role="form">
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i> <input type="text" th:field="*{usuario}" id="registroUsuario" class="form-control" required> <label for="registroUsuario">Usuario</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i> <input type="email" th:field="*{email}" id="registroEmail" class="form-control" required> <label for="registroEmail">Email</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-exclamation-triangle prefix grey-text"></i> <input type="email" id="registroConfirmarEmail" class="form-control" required> <label for="registroConfirmarEmail">Confirmar
						Email</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i> <input type="password" th:field="*{pass}" id="registroPass" class="form-control" required>
                    <label for="registroPass">Contraseña</label>
                </div>
                <div class="text-right mt-4">
                    <button class="btn btn-default" id="register" type="submit">Crear cuenta</button>
                </div>
            </form>
        </div>
    </div>

    <script th:replace="fragments/scripts :: script"></script>
    <script th:if="${loginError}">
        toastr.error('Error. Usuario o contraseña incorrectos');
    </script>
    <script th:if="${regError}">
        toastr.error('Error. Nombre de usuario no disponible');
    </script>
</body>

</html>