<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
	<!-- Header -->
	<header>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark special-color-dark">
			<div class="container wow slideInDown">
				<!-- Navbar brand -->
				<a class="navbar-brand text-light">Kerlix</a>

				<!-- Collapse button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#basicExampleNav" aria-controls="basicExampleNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Collapsible content -->
				<div class="collapse navbar-collapse" id="basicExampleNav">

					<!-- Links -->
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="#"
							th:href="@{/}">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="#"
							th:href="@{/app}">Mis servicios</a></li>
					</ul>
					<!-- Links -->
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a
							class="text-capitalize nav-link dropdown-toggle waves-effect waves-light"
							id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="true"> <i class="fa fa-user"></i> <span
								th:text=${loginUser.usuario}></span></a>
							<div class="dropdown-menu dropdown-menu-right dropdown-ins"
								aria-labelledby="navbarDropdown">
								<a class="dropdown-item waves-effect waves-light" href="#"
									th:href="@{/app/perfil}">Perfil</a> <a
									class="dropdown-item waves-effect waves-light"
									th:if=${loginUser.admin} th:href="@{/admin/}">Administración</a>
								<a class="dropdown-item waves-effect waves-light" href="#"
									th:href="@{/logout}">Cerrar sesión</a>
							</div></li>
					</ul>
				</div>
				<!-- Collapsible content -->
			</div>
		</nav>
	</header>
	<!-- Body -->
	<!-- Modal -->
	<div class="modal fade right" id="exampleModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
		data-backdrop="false">
		<div class="modal-dialog modal-side modal-bottom-right"
			role="document" id="ajaxContent">
			<div class="modal-content" th:fragment="order" th:if="${order!=null}">
				<form th:object="${order}" th:action="@{/app/renovar}" method="GET"
					class="mx-0 w-100">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							Meses a renovar para <span th:text="${order.nombre}"></span>
						</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="hidden" th:field="${order.id}" /> <input type="text"
							class="form-control py-2 w-75 mx-auto" min="1" max="12"
							th:field="${op.meses}" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-primary">Renovar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="main-wrapper mt-5">
		<div class="container wow fadeInLeft">
			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div th:each="orders : ${loginUser.orders}" th:if="${orders.getDiasRestantes()>0}" class="mb-5 col-lg-4 col-md-6">
					<!--Panel-->
					<div class="card text-center">
						<div class="card-header stylish-color-dark white-text">
							Servicio: <span th:text="${orders.getProducto().getDiscriminatorValue()}"></span>
						</div>
						<div class="card-body">
							<h4 class="card-title "> Nombre: <span th:text="${orders.nombre}"></span>
							</h4>
							<p class="card-text "> Tipo: <span th:text="${orders.producto.tipo}"></span> </p>
							<button type="button" class="btn btn-success btn-sm renovar" th:value="${orders.id}" data-toggle="modal" data-target="#exampleModal">Renovar</button>
							<a th:href="@{/app/deleteservice/{id}(id=${orders.id})}" class="btn btn-danger btn-sm ">Cancelar</a>
						</div>
						<div class="card-footer text-muted stylish-color white-text ">
							<p class="mb-0">
								Dias restantes: <span th:text="${orders.getDiasRestantes()}"></span>
							</p>
						</div>
					</div>
				</div>

				<!-- Grid column -->
				<div class="mb-5 col-lg-4 col-md-6">
					<!--Panel-->
					<div class="card text-center">
						<div class="card-header default-color-dark white-text">
							<br>
						</div>
						<div class="card-body">
							<h4 class="card-title ">Contratar servicio</h4>
							<p class="card-text ">Elija cualquiera de nuestros planes.</p>
							<a th:href="@{/app/contratar}" class="btn btn-success btn-sm">Contratar</a>
						</div>
						<div class="card-footer text-muted default-color-dark white-text ">
							<p class="mb-0 ">
								<br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="dropdown">
  <button class="btn btn-success dropdown-toggle btn-floating btn-fixed-bottom" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope"></i></button>
  <div class="dropdown-menu dropdown-menu-right px-4 position-fixed" aria-labelledby="dropdownMenu2">
    
<!-- Material form contact -->
	<form th:action="@{/supportEmail}" method="post">
	    <p class="h4 text-center mb-4">Soporte Técnico</p>
	        	    
	    <!-- Material input subject -->
	    <div class="md-form">
	        <i class="fa fa-tag prefix grey-text"></i>
	        <input type="text" id="supportEmailSubject" class="form-control" th:field="${email.subject}">
	        <label for="supportEmailSubject">Subject</label>
	    </div>
	    
	    <!-- Material textarea message -->
	    <div class="md-form">
	        <i class="fa fa-pencil prefix grey-text"></i>
	        <textarea id="supportEmailMessage" class="form-control md-textarea" rows="3" th:field="${email.message}"></textarea>
	        <label for="supportEmailMessage">Your message</label>
	    </div>
	
	    <div class="text-center mt-4">
	        <button class="btn btn-outline-success" type="submit">Enviar<i class="fa fa-paper-plane-o ml-2"></i></button>
	    </div>
	</form>
<!-- Material form contact -->
                      
  </div>
</div>
	<script th:replace="fragments/scripts :: script"></script>
</body>

</html>